<!DOCTYPE>

<html>

    <% include header.ejs %>

<body>

    <% include navigation.ejs %>


    <div class="title-container">

           <div class="main-title">
               <h1>HELLO.</h1>
           </div>
            <div class="first-paragraph">
                <p>My name is Tea and I am: </p>
            </div>
            <div class="second-paragraph">
                <p>anthropologiest</p>
            </div>
            <div class="third-paragraph">
                <p>researcher</p>
            </div>
            <div class="fourth-paragraph">
                <p>web developer</p>
            </div>
            <div class="fifth-paragraph">
                <p>web designer</p>
            </div>
            <div class="sixth-paragraph">
                <p>musician</p>
            </div>
    </div>



</body>
</html>