<div class="nav-container">

    <!-- ce je res, da je navigation = selected, ce ne, je nic -->
    <!-- najprej naredimo pogoj, ? = pomeni, a je res, in ce je res, se bo izpisal selected-->
    <a href="/" class="nav-button <%- pageName === 'landing'?'selected':''%>">HOME</a>
    <a href="/articles" class="nav-button <%- pageName === 'articles'?'selected':''%>">ARTICLES</a>
    <a href="/projects" class="nav-button <%- pageName === 'projects'?'selected':''%>">PROJECTS</a>

</div>