<!DOCTYPE>

<html>

    <% include header.ejs %>


<body>

    <% include navigation.ejs %>

    <h1>Projects</h1>

    <div class="projects-container">

        <% for(var i=0; i<projects.length; i++){ %>

            <div class="project-container">

                <div class="project-title"><b><%- projects[i].title %></b></div>
                <br/>
                <div class="project-author"><%- projects[i].author %></div>
                <br/>
                <div class="project-dateCreated"><%- moment(projects[i].dateCreated).format('LL') %></div>
                <br/>
                <a class="project-more" href="/project/<%- projects[i].id%>"> MORE ...</a>


            </div>
        <%}%>

    </div>

</body>
</html>

