<!DOCTYPE>
<html>
<head>

    <link href="/static/css/main.css" rel="stylesheet">

</head>
<body>

    <h2><%- project.title %></h2>
    <p><%- project.content %></p>
    <img height="200px" width="200px" src="/uploads/<%- project.coverImage %>">
    <p><%- project.link %></p>


</body>
</html>