<div>

    <h1>Projects</h1>
    <br/>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td>
                    {{project.title}}
                </td>
                <td>
                    {{project.author}}
                </td>
                <td>
                    {{ project.dateCreated | date:'dd.MM.yyyy, hh:mm:ss' }}
                </td>
                <td>
                    <div class="btn btn-primary btn-xs" ui-sref="edit-project({ id:project._id })">Edit</div>
                    <div class="btn btn-warning btn-xs" ng-click="deleteClick(project._id)">Delete</div>
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <br/>

    <div class="btn btn-success" ui-sref="new-project">Create new</div>

</div>
