<div>

    <h1>Projects</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Date Created</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects">
                <td>
                    {{project.title}}
                </td>
                <td>
                    {{project.author}}
                </td>
                <td>
                    {{project.dateCreated}}
                </td>
                <td>
                    <div class="btn btn-primary btn-xs">Edit</div>
                    <div class="btn btn-warning btn-xs" ng-click="deleteClick(project._id)">Delete</div>
                </td>

            </tr>
        </tbody>
    </table>

    <div class="btn btn-success" ui-sref="new-project">Create new</div>

</div>
