<div>
    <h2>ARTICLES</h2>
    <br/>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Key words</th>
                <th>Author</th>
                <th>Published</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="article in articles">
                <td>
                    {{article.title}}
                </td>
                <td>
                    {{article.keyWords}}
                </td>
                <td>
                    {{article.author}}
                </td>
                <td>
                    {{article.published | date:'dd.MM.yyyy'}}
                </td>
                <td>
                    <div class="btn btn-success btn-xs" ui-sref="" >Edit</div>
                    <div class="btn btn-warning btn-xs" ng-click="deleteClick(article._id)">Delete</div>
                </td>
            </tr>
        </tbody>

    </table>
    <br/>
    <br/>

    <div class="btn btn-success" ui-sref="new-article">Create new</div>

</div>
