<div class="sidebar-container" ng-controller="SidebarCtrl">

    <div class="sidebar">

        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="app.home">Home</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="app.projects">Projects</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="app.articles">Articles</div>
        <div class="sidebar-button" ui-sref-active="sidebar-button-active" ui-sref="app.account">Account</div>

    </div>
</div>
