.sidebar-container{

    height: 100vh;
    float: left;



    .sidebar{
        width: 200px;
        height: 100vh;
        background-color: #163758;
        color: #ffffff;

    }

    .sidebar-button{

        padding: 20px;

    }

    .sidebar-button:hover{

        border: 1px solid white;
        border-radius: 3px;

    }
}
