body{
    margin: 0;
    background-color: #00caca;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.nav-container{

    font-size: 0;
    text-align: center;

}
.nav-container .nav-button{

    font-size: 40px;
    line-height: 1.6;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
    margin: 5px;
    font-family: 'Baloo', cursive;

}

.nav-container .nav-button:hover{

    color: #aaa;
}

.nav-container .selected{

    color: #aaa;

}

a{
    text-decoration: none;
}

.title-container p{
    font-size: 25px;

}

.main-title{

    font-size: 40px;
    margin-left: 60px;
}
.first-paragraph{
    margin-left: 100px;
    color:#FFFFFF;
}
.second-paragraph{
    margin-left: 140px;

}
.third-paragraph{
    margin-left: 170px;
}
.fourth-paragraph{
    margin-left: 190px;
}
.fifth-paragraph{
    margin-left: 220px;
}
.sixth-paragraph{
    margin-left: 250px;
}


/*
ARTICLE CONTAINER
*/

.article-container{

    display: inline-block;
    width: 49%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(170, 170, 170, 0.4);
    border-top: 3px solid rgba(170, 170, 170, 0.6);
    margin-bottom: 10px;

}

.article-title{

    font-size: 23px;
    line-height: 1.6;
}

.page-list{

    text-align: center;
}

.page-list li{

    font-size: 30px;
    display: inline-block;
    font-family: 'Baloo', cursive;
    padding: 10px;

}
.page-list li a{

    color: white;

}

.page-list li a:hover{

    color: #aaa;

}




/*
Project CONTAINER
*/

.project-container{

    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid rgba(170,170,170, 0.4);
    margin-bottom: 10px;
}


.project-title{

    font-size: 23px;
    line-height: 1.6;
}

