body{
    margin: 0;
    background-color: #ffffff;
    font-family: Arial sans-serif;
}

.nav-container{

    font-size: 0;
    text-align: center;

}
.nav-container .nav-button{

    font-size: 16px;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    background-color: #00a65a;
    color: #ffffff;
    margin: 5px;

}

a{
    text-decoration: none;
    color: green;
}

.main-title{
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}